@use "../setting" as *;
@use "../mixin" as *;
@use "../color" as *;
@use "../variable" as *;


.contact {
    // padding-bottom: 120px;
    margin-top: 120px;
    
    &__wrapper {
        display: flex;
        height: 75vh;

        @include mq() {
            flex-direction: column;
            height: auto;
        }
    }

    &__content {
        width: 50%;
        background: $main-color;
        color: #fff;
        padding: 50px 90px;
        @include mq() {
         width: 100%;
         padding: 20px 30px;
        }
    }

    &__ttl {
        font-size: clamp(2rem , 4vw, 4rem);
        padding-bottom: 8px;
        border-bottom: 1px solid #fff;
    }

    &__txt {
        margin-top: 50px;
        font-size: clamp( 1rem , 3vw, 2rem);

        @include mq() {
            margin-top: 20px;
        }
    }

    &__tt {
        font-size: 24px;

        @include mq() {
            font-size: 16px;
        }
    }


    &__more {
        margin: 60px 0;

        a {
            color: #fff;
            font-size: clamp( 1rem , 3vw, 2rem);
            display: inline-block;
            padding: 10px 20px;
            background: $accent-color;
            color: #fff;
            font-weight: bold;

            @include mq() {
                padding: 4px 8px;
            }
        }
    }

    &__img {
        width: 50%;
        background: url("#{$imgPath}abes.jpg") no-repeat top right / cover;

        @include mq() {
            width: 100%;
            height: 30vh;   
        }
        img {

        }
    }

    &__tel,
    &__link {
        
        a {
            color: #fff;
        }
    }

    &__link { 
        margin-top: 40px;
        a {
            display: inline-block;
            padding: 10px 20px;
            background: $accent-color;
            font-size: clamp( 1rem , 3vw, 1.8rem);
            border-radius: 4px;

            @include mq() {
                padding: 4px 12px;
            }
        }
    }
}