$bg-opacity: rgba(233, 233, 233, 0.611);

///メインカラーの指定
$main-color: #1A3950;

//ベースカララー指定
$base-color: #e3e3e3;

// アクセントカラー
$accent-color:#C3C920;

//フォントカラーの指定
$font-base-color: #333;
$section-ttl : #000;